<div class="ethereum-code">  ____            _                  _   
 / ___|___  _ __ | |_ _ __ __ _  ___| |_ 
| |   / _ \| '_ \| __| '__/ _` |/ __| __|
| |__| (_) | | | | |_| | | (_| | (__| |_ 
 \____\___/|_| |_|\__|_|  \__,_|\___|\__|

</div>

<div>ID: {{id}}</div>
<div>Address: {{address}}</div>
<div>JS Code:</div>
<div class="textarea ethereum-code" contenteditable="false">{{js}}</div>

<div>Storage:</div>
<br>

{{#each storage}}
  {{#if this}}
    "{{@key}}": "{{this}}"
    <br>
  {{/if}}
{{else}}
  (empty)
{{/each}}