<div class="ethereum-code"> _____                               _   _             
|_   _| __ __ _ _ __  ___  __ _  ___| |_(_) ___  _ __  
  | || '__/ _` | '_ \/ __|/ _` |/ __| __| |/ _ \| '_ \ 
  | || | | (_| | | | \__ \ (_| | (__| |_| | (_) | | | |
  |_||_|  \__,_|_| |_|___/\__,_|\___|\__|_|\___/|_| |_|

</div>

<div>ID: {{id}}</div>
<div>From: {{sender}}</div>
<div>To: {{target}}</div>
<div>Value: {{value}}</div>
<div>Fee: {{fee}}</div>

<br><br>
- - - - - - - - - - - - - - - - - - - -
<br><br>

<div>Data:</div>
<br>

{{#each data}}
  {{#if this}}
    {{@index}}: {{this}}
    <br>
  {{/if}}
{{else}}
  empty
{{/each}}